.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: stretch;
}
.highlight {
  color: var(--color-green-700);
}
.terminal {
  background-color: #333;
  color: white;
  font-weight: bold;
  padding: var(--spacing-10) var(--spacing-20);
  border-radius: var(--border-radius-10);
}
.title {
  align-self: stretch;
  text-align: center;
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  padding: var(--spacing-10);
}
